* {
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
}

body, html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #ddd;
	position: fixed;
}


$border: 60px;
$border--mobile: 20px;
.canvas {
	position: absolute;
	top: $border;
	left: $border;
	// bottom: $border;
	// right: $border;
	width: calc(100% - #{$border * 2});
	height: calc(100% - #{$border * 2});
}

.texture {
	position: absolute;
	top: $border;
	left: $border;
	// bottom: $border;
	// right: $border;
	width: calc(100% - #{$border * 2});
	height: calc(100% - #{$border * 2});
	background-image: url('/assets/images/noise-texture.png');
	background-size: 150px 150px;
	opacity: 0.5;
	display: none;
}

.texture--visible {
	display: block;
}


@media screen and (max-width: 768px) {
	.canvas, .texture {
		width: calc(100% - #{$border--mobile * 2});
		height: calc(100% - #{$border--mobile * 2});
		top: $border--mobile;
		left: $border--mobile;
	}
}

.search {
	position: absolute;
	display: inline-flex;
	flex-direction: row;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0;
	background: rgba(#d41758, 0.7);
	border-top-left-radius: 60px;
	border-bottom-left-radius: 60px;
	border-top-right-radius: 60px;
	border-bottom-right-radius: 60px;
	height: 40px;
	overflow: hidden;
	border: 1px solid #eee;
	align-items: center;
	width: 400px;
	max-width: 80%;
	// box-shadow: 0px 0px 3px 0px rgba(#822e4b, 0.5);
}

.search h1 {
	outline: 0;
	-webkit-font-smoothing: antialiased;
	line-height: 0.9em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	letter-spacing: 0.06em;
	font-size: 15px;
	width: calc(100% - 30px);
	flex-grow: 1;
	margin: 0;
	padding-left: 20px;
	padding-right: 5px;
	white-space: nowrap;
}

body:not(.mobile) .search--yet-to-interact:hover {
	.search__text {
		opacity: 0;
	}

	.search__hint {
		opacity: 1;
	}
}

.search__text {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	color: #fff;
	// background: transparent;
}

.search__hint {
	position: absolute;
	opacity: 0;
	pointer-events: none;
	color: rgba(#fff, 0.66);
}

.search__submit {
	// height: 60px;
	// width: 60px;
	height: 100%;
	width: 30px;
	display: inline-block;
	vertical-align: middle;
	border: 0;
	outline: 0;
	margin: 0;
	padding: 0;
	background: transparent;
	cursor: pointer;
	padding-right: 10px;
	flex-shrink: 0;
}

.search__submit img {
	width: 16px;
}

footer {
	-webkit-font-smoothing: antialiased;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	letter-spacing: 0.06em;
	color: #fff;
	font-size: 10px;
	position: absolute;
	bottom: 68px;
	text-align: center;
	width: 100%;
	padding: 0 40px 0 40px;
}

@media screen and (max-width: 768px) {
	footer {
		bottom: 28px;
		max-width: 90%;
		margin: auto;
		left: 0;
		right: 0;
	}
}

a {
	color: inherit;
	text-decoration: none;
	display: inline-block;
	border-bottom: 1px solid transparent;
}

a:hover {
	border-bottom: 1px solid #eee;
}